<%= form_for(@favorite, class: "form-horizontal") do |f| %>
  <% if @favorite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@favorite.errors.count, "error") %> prohibited this favorite from being saved:</h2>

      <ul>
      <% @favorite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control", placeholder: :name %>
  </div>
  <div class="form-group">
    <%= f.label :url %><br>
    <%= f.text_field :url, class: "form-control", placeholder: :url %>
  </div>
  <div class="form-group">
    <%= f.label :language %><br>
    <%= f.text_field :language, class: "form-control", placeholder: :language %>
  </div>
  <div class="form-group">
    <%= f.label :about %><br>
    <%= f.text_area :about, class: "form-control", placeholder: :about %>
  </div>
  <div class="form-group btn-group">
    <%= link_to 'Back', favorites_path, class: "btn btn-primary" %>
    <%= f.submit 'Submit', class: "btn btn-success"%>
  </div>
<% end %>
