<div class="panel panel-primary">
  <div class="panel-heading"><h3>Id: <%= @task.id %></h3></div>
    <div class="panel-body">
      <ul class="list-group">
      <li class="list-group-item">
        <strong>Name:</strong>
        <%= @task.name %>
      </li>

      <li class="list-group-item">
        <strong>Level:</strong>
        <%= @task.level %>
      </li>

      <li class="list-group-item">
        <strong>Done:</strong>
        <%= @task.done %>
      </li>

      <li class="list-group-item">
        <strong>Dead line:</strong>
        <%= @task.dead_line %>
      </li>

      <li class="list-group-item">
        <strong>About:</strong>
        <%= @task.about %>
      </li>
    </ul>
      <div class="form-group btn-group">
        <%= link_to 'Back', tasks_path, class: "btn btn-primary" %>
        <%= link_to 'Edit', edit_task_path(@task), class: "btn btn-warning"%>
      </div>
    </div>
  </div>
</div>
