<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" id = "navbar_icon_home" href="/home">
        <img alt="Home" src="/home">
      </a>
      <a class="navbar-brand" id = "navbar_icon_media" href="https://github.com/" target="_blank">
        <img alt="My Radmin Panel" src="<%= image_path("social-icons/git.svg") %>" width="35px">
      </a>
      <a class="navbar-brand" id = "navbar_icon_media" href="https://inbox.google.com/" target="_blank">
        <img alt="My Radmin Panel" src="<%= image_path("social-icons/email.svg") %>" width="35px">
      </a>
      <a class="navbar-brand" id = "navbar_icon_media" href="https://moodle.ufsc.br/" target="_blank">
        <img alt="My Radmin Panel" src="<%= image_path("social-icons/school.svg") %>" width="35px">
      </a>
      <a class="navbar-brand" id = "navbar_icon_media" href="http://discourse.sumone.com.br" target="_blank">
        <img alt="My Radmin Panel" src="<%= image_path("social-icons/people.svg") %>" width="35px">
      </a>
      <a class="navbar-brand" id = "navbar_icon_media" href="https://www.facebook.com/" target="_blank">
        <img alt="My Radmin Panel" src="<%= image_path("social-icons/face.svg") %>" width="35px">
      </a>
      <a class="navbar-brand" id = "navbar_icon_media" href="https://www.instagram.com/" target="_blank">
        <img alt="My Radmin Panel" src="<%= image_path("social-icons/twitter.svg") %>" width="35px">
      </a>
      <a class="navbar-brand" id = "navbar_icon_media" href="https://www.instagram.com/" target="_blank">
        <img alt="My Radmin Panel" src="<%= image_path("social-icons/instagram.svg") %>" width="35px">
      </a>
    </div>
  </div>
</nav>
