<div id="sidebar_div">
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation" class="<%= active_class('home') %>">
      <a href="/home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
    </li>
    <li role="presentation" class="<%= active_class('school') %>">
      <a href="/schools"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> School</a>
    </li>
    <li role="presentation" class="<%= active_class('tasks') %>">
      <a href="/tasks"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Tasks</a>
    </li>
    <li role="presentation" class="<%= active_class('favorites') %>">
      <a href="/favorites"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Favorites</a>
    </li>
    <li role="presentation" class="<%= active_class('bills') %>">
      <a href="/bills"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Bills</a>
    </li>
  </ul>
</div>
